{% extends 'generic/object.html' %} {% load helpers %} {% load i18n %} {% block
extra_head %} {{ block.super }}
<meta name="csrf-token" content="{{ csrf_token }}" />
{% endblock %} {% block breadcrumbs %} {{ block.super }}
<li class="breadcrumb-item">
  <a href="{% url 'dcim:device_list' %}">{% trans "Devices" %}</a>
</li>
{% endblock %} {% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">{% trans "Device" %}</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Name" %}</th>
            <td>{{ object.name|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Device Type" %}</th>
            <td>
              {% if object.device_type %}
              <a href="{{ object.device_type.get_absolute_url }}"
                >{{ object.device_type }}</a
              >
              {% else %} {{ ''|placeholder }} {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Role" %}</th>
            <td>
              {% if object.role %}
              <a href="{{ object.role.get_absolute_url }}">{{ object.role }}</a>
              {% else %} {{ ''|placeholder }} {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Site" %}</th>
            <td>
              {% if object.site %}
              <a href="{{ object.site.get_absolute_url }}">{{ object.site }}</a>
              {% else %} {{ ''|placeholder }} {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Location" %}</th>
            <td>
              {% if object.location %}
              <a href="{{ object.location.get_absolute_url }}"
                >{{ object.location }}</a
              >
              {% else %} {{ ''|placeholder }} {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Rack" %}</th>
            <td>
              {% if object.rack %}
              <a href="{{ object.rack.get_absolute_url }}">{{ object.rack }}</a>
              {% if object.position %} (U{{ object.position }}) {% endif %} {%
              else %} {{ ''|placeholder }} {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Status" %}</th>
            <td>{{ object.status|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Platform" %}</th>
            <td>
              {% if object.platform %}
              <a href="{{ object.platform.get_absolute_url }}"
                >{{ object.platform }}</a
              >
              {% else %} {{ ''|placeholder }} {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Serial Number" %}</th>
            <td>{{ object.serial|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Asset Tag" %}</th>
            <td>{{ object.asset_tag|placeholder }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">{% trans "IP Addresses & Connectivity" %}</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Primary IPv4" %}</th>
            <td>
              {% if object.primary_ip4 %}
              <a href="{{ object.primary_ip4.get_absolute_url }}"
                >{{ object.primary_ip4.address }}</a
              >
              <div class="ping-status-row mt-2">
                <strong>{% trans "Ping Status:" %}</strong>
                <span
                  class="ping-status-indicator"
                  data-device-id="{{ object.pk }}"
                  data-ip-type="primary"
                  title="Loading ping status..."
                >
                  <i class="mdi mdi-loading mdi-spin text-muted"></i>
                  <span class="ping-status-text">Loading...</span>
                </span>
              </div>
              {% else %} {{ ''|placeholder }} {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Primary IPv6" %}</th>
            <td>
              {% if object.primary_ip6 %}
              <a href="{{ object.primary_ip6.get_absolute_url }}"
                >{{ object.primary_ip6.address }}</a
              >
              {% else %} {{ ''|placeholder }} {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">{% trans "Out-of-Band IP" %}</th>
            <td>
              {% if object.oob_ip %}
              <a href="{{ object.oob_ip.get_absolute_url }}"
                >{{ object.oob_ip.address }}</a
              >
              <div class="ping-status-row mt-2">
                <strong>{% trans "Ping Status:" %}</strong>
                <span
                  class="ping-status-indicator"
                  data-device-id="{{ object.pk }}"
                  data-ip-type="oob"
                  title="Loading ping status..."
                >
                  <i class="mdi mdi-loading mdi-spin text-muted"></i>
                  <span class="ping-status-text">Loading...</span>
                </span>
              </div>
              {% else %} {{ ''|placeholder }} {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

{% if object.description %}
<div class="row">
  <div class="col col-md-12">
    <div class="card">
      <h5 class="card-header">{% trans "Description" %}</h5>
      <div class="card-body">{{ object.description }}</div>
    </div>
  </div>
</div>
{% endif %} {% endblock %}
